<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Evento</title>
    <link rel="stylesheet" href="/criar-evento.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="header-zoom">
        <div class="cidade">
            <span id="guarambi-title">📍 Guanambi, BA</span>
        </div>
    
    </header>

    <nav class="nav-bar">
        <div class="logo">
            <img src="logo.png" alt="Logo do site" class="imagem-logo">
        </div>
        
        <ul class="nav-list">
            <li><a href="#" class="nav-link">Eventos</a></li>
           
           
            <li><a href="/usuario/perfil" class="nav-link">Perfil</a></li>
        </ul>
    </nav>

    <main>
        <form id="eventForm" method="POST" action="/usuario/evento/criar">
            <!-- Campo oculto com o ID do usuário, preenchido dinamicamente -->
            <input type="hidden" name="usuarioId" value="${usuarioId}"> 
        
            <div>
                <label for="eventName">Nome do Evento:</label>
                <input type="text" id="eventName" name="nome" required>
            </div>
        
            <div>
                <label for="eventDateTime">Data e Hora do Evento:</label>
                <input type="datetime-local" id="eventDateTime" name="data" required>
            </div>
        
            <div>
                <label for="eventLocation">Localização:</label>
                <input type="text" id="eventLocation" name="local" required>
            </div>
        
            <div>
                <label for="eventDetails">Detalhes:</label>
                <textarea id="eventDetails" name="detalhes" required></textarea>
            </div>
        
            <div>
                <label for="eventIngresso">Ingresso:</label>
                <select id="eventIngresso" name="ingresso" required>
                    <option value="pago">Pago</option>
                    <option value="gratis">Grátis</option>
                </select>
            </div>
        
            <div>
                <label for="eventTipo">Tipo de Evento:</label>
                <select id="eventTipo" name="tipoDeEvento" required>
                    <option value="pcd">PCD</option>
                    <option value="evento1">Tipo 1 Deficiência Física</option>
                    <option value="evento2">Tipo 2 Deficiência Auditiva</option>
                    <option value="evento3">Tipo 3 Deficiência Visual</option>
                    <option value="evento4">Tipo 4 Deficiência Intelectual</option>
                </select>
            </div>
        
            <button type="submit">Criar Evento</button>
        </form>
        
    </main>

    <footer class="footer">
        <div class="footer-content">
          <div class="footer-image">
            <img src="/img/image 25.png" alt="Imagem do Rodapé" class="footer-img">
          </div>
          <nav class="footer-nav">
            <ul>
                <li><a href="/inicial.html">Menu</a></li>
                <li><a href="/sobrenós.html">Sobre Nós</a></li>
                <li><a href="/feedback.html">Avaliar Serviços</a></li>
            </ul>
          </nav>
          <div class="social-icons">
            <a href="https://www.facebook.com/suaempresa" target="_blank">
              <img src="/img/facebook.png" alt="facebook" class="social-icon">
            </a>
            <a href="https://www.instagram.com/suaempresa" target="_blank">
              <img src="/img/instagram.png" alt="Instagram" class="social-icon">
            </a>
            <a href="https://www.email.com/suaempresa" target="_blank">
              <img src="/img/o-email.png" alt="Email" class="social-icon">
            </a>
            <a href="https://www.telefone.com/suaempresa" target="_blank">
              <img src="/img/telefone.png" alt="Telefone" class="social-icon">
            </a>
            <a href="https://www.whatsapp.com/suaempresa" target="_blank">
              <img src="/img/whatsapp.png" alt="whatsapp" class="social-icon">
            </a>
          </div>
        </div>
        <p>&copy; 2024 InclusiOn. Todos os direitos reservados.</p>
      </footer>

    <script src="/script.js"></script>
</body>
</html>
