<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InclusiOn - Solução para Eventos</title>
  <link rel="stylesheet" href="/inicial.css">
</head>
<body>
    <header class="header-zoom">
        <div class="zoom-controls">
           <span id="guarambi-title">Guanambi</span>
        </div>
      </header>
    
      <!-- Segundo header com barra de pesquisa e navegação -->
      <header class="header">
        <div class="search-bar">
          <img src="/logo.png" alt="Logo" class="search-bar-img">
          <input type="text" placeholder="Procurar eventos">
          <img src="/img/lupa (1).png" alt="Lupa" class="search-icon">
        </div>
        <nav class="nav">
          <a href="/eventos">Eventos</a>
          <a href="/criar-evento">Criar um evento</a>
          <a href="/login">Login</a>
          <a href="/cadastroUsuario">Cadastrar-se</a>
        </nav>
      </header>

  <section class="content">
    <div class="hero">
      <h1>InclusiOn</h1>
      <p>Solução Para Eventos PCD</p>
      <a href="/cadastroUsuario"><button class="btn-primary">Cadastrar-se</button></a>
    </div>

    <div class="services">
      <h2>Realizamos o Melhor para Eventos com Impacto Social</h2>
      <div class="service-cards">
        <button> 
            <p>Mundo sem Barreiras</p>
            <p>Monte Alto-BA</p>
        </button>
        <button>
            <p>Inclusão em Foco</p>
            <p>Candiba-BA</p>
        </button>
        <button>
            <p>Acessibilidade em Ação</p>
            <p>Pilões-BA</p>
        </button>
        <button>
            <p>Incluir para Transformar</p>
            <p>Guanambi-BA</p>
        </button>
      </div>
      <a href="/eventos.html"<button class="btn-secondary">Ver Todos os Eventos</button></a>
    </div>
  </section>

  <!-- Rodapé com imagem e navegação -->
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-image">
        <img src="/logo.png" alt="Imagem do Rodapé" class="footer-img">
      </div>
      <nav class="footer-nav">
        <ul>
            <li><a href="/inicial.html">Menu</a></li>
            <li><a href="/sobrenós.html">Sobre Nós</a></li>
            <li><a href="/feedback.html">Avaliar Serviços</a></li>
        </ul>
      </nav>
      <div class="social-icons">
        <a href="#">🔵</a>
        <a href="#">🟢</a>
        <a href="#">🟡</a>
      </div>
    </div>
    <p>&copy; 2024 InclusiOn. Todos os direitos reservados.</p>
  </footer>

  <script src="/inicial.js"></script>
</body>
</html>
