<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InclusiOn - Solução para Eventos</title>
  <link rel="stylesheet" href="/css/tela-inicial-administrador.css">
</head>
<body>
    <!-- Primeiro Header (Zoom e Título) -->
    <header class="header-zoom">
        <div class="zoom-controls">
           <span id="guarambi-title">Guanambi</span>
        </div>
      </header>
    
      <!-- Segundo header com barra de pesquisa e navegação -->
  <header class="header">
    <div class="search-bar">
      <img src="/img/image 25.png" alt="Logo" class="search-bar-img">
      <input type="text" placeholder="Procurar eventos">
      <button>
        <img src="/img/lupa (1).png" alt="Lupa" class="search-icon">
      </button>
    </div>
    <nav class="nav">
      <a href="/eventos">Eventos</a>
      <a href="/criar-evento">Criar um evento</a>
      <a href="/login">Login</a>
      <a href="/cadastrar">Cadastre-se</a>
    </nav>
  </header>

 <!-- Corpo da Paginay-->
  <section class="content">
    <div class="hero">
      <h1>InclusiOn</h1>
      <p>Solução Para Eventos PCD</p>
    </div>

    <div class="services">
      <h2>Realizamos o Melhor para Eventos com Impacto Social</h2>
      <div class="service-cards">
        <div class="service-card">
          <a href="/evento1.html">
            <img src="/img/evento1.jpg" alt="Imagem do Evento">
            <p>Mundo sem Barreiras</p>
            <p>Monte Alto-BA</p>
          </a>
        </div>
        <div class="service-card">
          <a href="/evento2.html">
            <img src="/img/evento2.jpg" alt="Imagem do Evento">
            <p>Inclusão em Foco</p>
            <p>Candiba-BA</p>
          </a>
        </div>
        <div class="service-card">
          <a href="/evento3.html">
            <img src="/img/evento3.jpg" alt="Imagem do Evento">
            <p>Acessibilidade em Ação</p>
            <p>Pilões-BA</p>
          </a>
        </div>
        <div class="service-card">
          <a href="/evento4.html">
            <img src="/img/evento4.jpg" alt="Imagem do Evento">
            <p>Incluir para Transformar</p>
            <p>Guanambi-BA</p>
          </a>
        </div>
      </div>
    </div>
    
    <div class="button-container">
      <a href="/eventos.html"><button class="btn-secondary">Ver Todos os Eventos</button></a>
    </div>
</section>


  <!-- Rodapé -->
  <footer class="footer">
    <div class="footer-content">
      <div class="footer-image">
        <img src="/img/image 25.png" alt="Imagem do Rodapé" class="footer-img">
      </div>
      <nav class="footer-nav">
        <ul>
            <li><a href="/inicial.html">Menu</a></li>
            <li><a href="/sobrenós.html">Sobre Nós</a></li>
            <li><a href="/feedback.html">Avaliar Serviços</a></li>
        </ul>
      </nav>
      <div class="social-icons">
        <a href="https://www.facebook.com/suaempresa" target="_blank">
          <img src="/img/facebook.png" alt="facebook" class="social-icon">
        </a>
        <a href="https://www.instagram.com/suaempresa" target="_blank">
          <img src="/img/instagram.png" alt="Instagram" class="social-icon">
        </a>
        <a href="https://www.email.com/suaempresa" target="_blank">
          <img src="/img/o-email.png" alt="Email" class="social-icon">
        </a>
        <a href="https://www.telefone.com/suaempresa" target="_blank">
          <img src="/img/telefone.png" alt="Telefone" class="social-icon">
        </a>
        <a href="https://www.whatsapp.com/suaempresa" target="_blank">
          <img src="/img/whatsapp.png" alt="whatsapp" class="social-icon">
        </a>
      </div>
    </div>
    <p>&copy; 2024 InclusiOn. Todos os direitos reservados.</p>
  </footer>

  <script src="/inicial.js"></script>
</body>
</html>